.DS_Store
._*

logs/
minecraft_usb_automation/logs/

minecraft_usb_automation/payload/installers/**/*.exe
minecraft_usb_automation/payload/installers/**/*.msi
minecraft_usb_automation/payload/installers/**/*.appx
minecraft_usb_automation/payload/installers/**/*.msix
minecraft_usb_automation/payload/installers/**/*.msixbundle

minecraft_usb_automation/payload/minecraft-packs/*/mods/**
minecraft_usb_automation/payload/minecraft-packs/*/assets/**
minecraft_usb_automation/payload/minecraft-packs/*/libraries/**
minecraft_usb_automation/payload/minecraft-packs/*/versions/**

!minecraft_usb_automation/payload/minecraft-packs/*/mods/.gitkeep
!minecraft_usb_automation/payload/minecraft-packs/*/assets/.gitkeep
!minecraft_usb_automation/payload/minecraft-packs/*/libraries/.gitkeep
!minecraft_usb_automation/payload/minecraft-packs/*/versions/.gitkeep
